{% extends "page_frame.html" %}
{% block content %}
    <script>
        $(document).ready(function (){
            var table = $('#pandas_data_table').DataTable({
                'paging': false,
                'ordering': false,
                'searching': false
            });

        });
    </script>

    <form name="edit_data" method="POST" enctype="multipart/form-data" class="p-0 m-0">
        {{ form.hidden_tag() }}
        <div class="container-fluid overflow-auto p-0 pb-2 vh-80">
            {{ form.hidden_tag() }}
            <div class="container-fluid">
                {{ html_table | safe }}
            </div>
        </div>
        <div class="pt-3">
            <button class="btn btn-primary" type="submit" name="submit" value="btn_change_dtypes">Update</button>
            <button class="btn btn-primary" type="submit" name="submit" value="btn_edit_to_manipulate">Proceed</button>
        </div>
    </form>
{% endblock %}