{% extends "page_frame.html" %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" name="upload">
        {{ form.hidden_tag() }}
        <div class="form-group pb-2">
            <label for="file" class="form-label">Select a file</label>
            {{ form.file(class_="form-control") }}
        </div>
        <div class="form-group pb-2">
            <label for="enc" class="form-label">Select file encoding</label>
            {{ form.enc(class_="form-control") }}
        </div>
        <input type="submit" class="btn btn-primary" value="Upload">
    </form>
    {% if shape is defined %}
        Shape is: {{ shape }}
    {% else %}
    {% endif %}
{% endblock %}